<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <main class="container">
        <div class="content2">
            <h1>Hello <%= username %>, You are at the home page &#128522;!! </h1>
            <!-- <img src="C:\Users\HP\Pictures\photo.jpg.jpeg" alt=""> -->
        </div>        
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>






