<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/forgot-navbar.ejs') %>
    </header>
    <main>
        
        <div class='resetpage'>
            <% if (error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong><%= error %></strong>   
                </div>
              <% } %>
            <h1>Enter Your New Password</h1>
            <form action="/forgot-password/<%= id %>" method="post">
                <label for="password">New Password</label> <br>
                <input type="password" name="password"  id="password"><br> <br>

                <label for="confirmPassword">confirmPassword</label> <br>
                <input type="confirmPassword" name="confirmPassword"  id="confirmPassword"><br> <br>

                <button type="submit">submit</button>
                <button> <a href="/login">cancel</a></button>
            </form>      
        </div>
    </main>  
</body>
</html>