<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Blog Website 	&#x2764</label>
    <ul>
      <li><a class="active" href="/homepage">Home</a></li>
      <li><a href="/createpost">Create Post</a></li>
      <li><a href="/allpost">All Post</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/logout">logout</a></li>
      
    </ul>
  </nav>